---
name: test-deployment
update:
  canaries: 1
  canary_watch_time: 30000-1200000
  max_in_flight: ((max_in_flight))
  serial: false
  update_watch_time: 5000-1200000
  really: ((cool))
  vars_r_kewl: ((super_sekret))
instance_groups:
- name: postgres
  azs: [z1]
  instances: 1
  vm_type: minimal
  networks:
  - name: default
  jobs:
  - name: postgresql
    release: concourse
    properties: []


releases:
- name: concourse
  version: 1.0.0

stemcells:
- alias: default
  os: ubuntu-trusty
  version: latest

variables:
- name: cool
  type: password
- name: super_sekret
  type: password
